<ion-view view-title="Friends">
  <ion-content ng-controller='RefreshCtrl'>
  	<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
  	</ion-refresher>
    <ion-list>
    	<ion-item class='item item-avatar item-remove-animate item-icon-right' ng-repeat="friend in friends track by $index" type="item-text-wrap" href="#/tab/friends/{{friend.id}}">
        <img src='{{friend.photo}}'>
        <h2>{{friend.first_name}} {{friend.last_name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
