
<ion-view view-title="Dashboard">
  <ion-content >

    <ion-list>
      <ion-item class='item item-thumbnail-left item-remove-animate item-icon-right' ng-repeat="good in goods track by $index" type="item-text-wrap" href="#/tab/dash/{{good.id}}">
        <img src='{{good.photo}}'>
        <h2>{{good.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>


<!--     <div class="list card" ng-repeat='good in goods'>
      <div class="item item-divider">{{good.name}}</div>
      <div class="item item-body"> {{good.description}}
      </div>
    </div> -->

    <!-- <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div> -->
  </ion-content>
</ion-view>
