
<ion-view view-title="Dashboard">
  <ion-content >

    <ion-list>
      <ion-item ng-repeat="good in goods track by $index" href="#/tab/dash/{{good.id}}">
      <p>{{good.name}}</p>
      <p>Owned by: {{good.user_first}} {{good.user_last}}</p>
      </ion-item>
    </ion-list>


<!--     <div class="list card" ng-repeat='good in goods'>
      <div class="item item-divider">{{good.name}}</div>
      <div class="item item-body"> {{good.description}}
      </div>
    </div> -->

    <!-- <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div> -->
  </ion-content>
</ion-view>
